<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <h1> Unknown Threads: {{ .UnknownThreads | len }} </h1>
        <h1> Identified Threadpools: {{ .ThreadPools | len }} </h1>

        <ul>
            {{ range .UnknownThreads }}
            <li> {{ .Name }} </li>
            {{ end }}
        </ul>
        <table>
            <tr>
                <th> Pool </th>
                <th> Threads </th>
            </tr>
            {{ range $name, $threads := .ThreadPools }}
            <tr>
                <td>{{ $name }}</td>
                <td>{{ $threads | len }}</td>
            </tr>
            {{ end }}
        </table>
    </body>
</html>